/*
This application and all related files in this package were created by and belong to Calvin Marusin.

*/

#logo {
	color: #376996!important;
}

.introtext {
	background: white;
	width: 80%;
	border: 3px gray solid;
	margin: auto;
	padding: 10px;
}

.movieresults {
	clear: both;	
}

.moviesection table {
	width: 80%;
	margin: auto;
}

.moviedetailswhite {
	background-color: white;
}

.moviedetailsgray {
	background-color: #829cbc;
}

.movietitle {
	width: 30%;
	text-align: center;
	font-weight: bold;
	font-size: 1.5em;
}

.movieimage img {
	margin: auto;
	display: block;
}

.moviedate {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.1em;
	text-align: right;
}

.moviedate span {
	float: left;
}

.movieoverview {
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 30px;
}

#paginationinfo {
	clear: both;
	max-width: 79.75%;
	margin: auto;
}

#paginationinfo div {
	display: inline-block;
	color: #376996;
	font-size: 1.25em;
	font-weight: italic;
}

#resultinfo {
	float: right;
}

.paginationlinks {
	max-width: 85%;
	margin: auto;
}

.paginationlinks a {
	color: #1d3461;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	margin-bottom: 5px;
	-o-transition:.5s!important;
	-ms-transition:.5s!important;
	-moz-transition:.5s!important;
	-webkit-transition:.5s!important;
	transition:.5s!important;
	border: none!important;
}
.paginationlinksa:link {
	color: #376996;
}
.paginationlinksa:visited {
	color: #376996;
}
.paginationlinks a:hover {
	color: #376996;
	text-decoration: underline;
}

#nextpage {
	float: right;
}

#backpage {
	float: left;
}

#cpyrght {
	border-top: solid 2px #e5e5e5;
	text-align: center;
	clear:both;
}

.links {
	margin: 0!important;
}

.row {
	padding-right: 4em;
	padding-left: 4em;
}

a.button {
	background-color: #376996!important;
}